$login-text-color: green;
$logout-text-color: red;
$logout-bg-color: white;
$page-title-text-color: black;
$auth-warning-color: red;
$auth-btn-text-color: white;
$auth-btn-bg-color: #3f51b5;
$auth-btn-border-color: #0027ff;
$disabled-btn-bg-color: gray;
$disabled-btn-text-color: black;
$invalid-input-bg-color: #ff00004a;
$hero-box-border-color: black;
$hero-box-bg-color: #6d0404;
$hero-box-text-color: white;
$hero-box-btn-bg-color: white;
$hero-box-btn-text-color: blue;
$hero-box-error-text-color: yellow;
